### CAUTION: Refer to "global.cfg"! ###
	LocalIPAddress				$LOCAL_IP_ADDR
	LocalPublicIPAddress		$LOCAL_PUBLIC_IP_ADDR
	LocalListenPort				$PRE_SERVER_PORT

################################################################################
# Pre Server Database Settings
################################################################################
	ODBCUID						$PRE_ODBC_UID
	ODBCPASSWD					$PRE_ODBC_PASSWD
	DBServerIP					$PRE_DB_SERVER_IP			
	DBServerPort				$PRE_DB_SERVER_PORT         
	DBServerDatabaseName		$PRE_DB_SERVER_DATABASE_NAME

################################################################################
# Server Group Limite User Count (서버군별 접속 가능 최대 유저수)
################################################################################
	ServerGroupLimiteUserCount		$SERVER_GROUP_LIMITE_USER_COUNT

################################################################################
# Pre Server List
################################################################################
	GameServerGroup				$$GAME_SERVER_GROUP_NAME1

################################################################################
# Server Group List in order to management in PreServer
################################################################################
	ServerGroupInfo				$$SERVER_GROUP_INFO_1

################################################################################
# Pre Server HTTP settings
################################################################################

	LauncherFileDownloadPath		$LAUNCHER_FILE_DOWNLOAD_PATH
	DeleteFileListDownloadPath		$DELETE_FILE_LIST_DOWNLOAD_PATH
	NoticeFileDownloadPath			$NOTICE_FILE_DOWNLOAD_PATH

	DownloadHttpServerIP			$DOWNLOAD_HTTP_SERVER_IP1		
	DownloadHttpServerIP			$DOWNLOAD_HTTP_SERVER_IP2		
	DownloadHttpServerPort			$DOWNLOAD_HTTP_SERVER_PORT
	
	ClientUpdateDownloadHttpDir		$CLIENT_UPDATE_DOWNLOAD_HTTP_DIR	
	LauncherFileDownloadHttpPath	$LAUNCHER_FILE_DOWNLOAD_HTTP_PATH	
	DeleteFileListDownloadHttpPath	$DELETE_FILE_LIST_DOWNLOAD_HTTP_PATH
	NoticeFileDownloadHttpPath		$NOTICE_FILE_DOWNLOAD_HTTP_PATH
	VersionListFileDownloadHttpPath	$VERSION_LIST_FILE_DOWNLOAD_HTTP_PATH
		
	################################################################################		
	# ReInstall Version: 새로 다운 받을 버전의 직전 버전을 넣는다
	# Put version just before version to receive down newly
	ClientReInstallVersion		$CLIENT_REINSTALL_VERSION


################################################################################
# Test Server Flag
################################################################################
	IsTestServer				$IS_TEST_SERVER


################################################################################
# Only Choice Server Flag, 2007-07-06 by cmkwon
################################################################################
	IsOnlyChoiceServer			$IS_ONLY_CHOICE_SERVER


################################################################################
# When receive Field Server's IP that must connect by first in Pre Server, availability about that receive by Random
################################################################################
	RandomFieldSelect			FALSE


################################################################################
# Whether or not client version update disregard
################################################################################
	IgnoreClientVersionUpdate	$INGNORE_CLIENT_VERSION_UPDATE

################################################################################
# 아레나 통합 - ArenaServer (아레나 서버 관련 설정)
################################################################################
	ArenaServer					$ARENA_SERVER_NAME				$ARENA_SERVER_ID


################################################################################
# Allowed Tools(AdminTool or Monitor) IP 
################################################################################
	AllowedToolIP				$ALLOWED_TOOL_IP_1
	AllowedToolIP				$ALLOWED_TOOL_IP_2
	AllowedToolIP				$ALLOWED_TOOL_IP_3
	AllowedToolIP				$ALLOWED_TOOL_IP_4
	AllowedToolIP				$ALLOWED_TOOL_IP_5
	AllowedToolIP				$ALLOWED_TOOL_IP_6
	AllowedToolIP				$ALLOWED_TOOL_IP_7
	AllowedToolIP				$ALLOWED_TOOL_IP_8
	AllowedToolIP				$ALLOWED_TOOL_IP_9
	AllowedToolIP				$ALLOWED_TOOL_IP_10


################################################################################
# Allowed Client IP in order to connect Game Server by Game Client
#################################################################################
	AllowedIP					$ALLOWED_CLIENT_IP_1  
	AllowedIP					$ALLOWED_CLIENT_IP_2  
	AllowedIP					$ALLOWED_CLIENT_IP_3  
	AllowedIP					$ALLOWED_CLIENT_IP_4  
	AllowedIP					$ALLOWED_CLIENT_IP_5  
	AllowedIP					$ALLOWED_CLIENT_IP_6  
	AllowedIP					$ALLOWED_CLIENT_IP_7  
	AllowedIP					$ALLOWED_CLIENT_IP_8  
	AllowedIP					$ALLOWED_CLIENT_IP_9  
	AllowedIP					$ALLOWED_CLIENT_IP_10 

################################################################################
# Allowed AccountName in order to connect Game Server by Game Client
################################################################################
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_1  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_2  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_3  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_4  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_5  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_6  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_7  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_8  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_9  
	AllowedAccount				$ALLOWED_ACCOUNT_NAME_10 

################################################################################
# // 2010-06-01 by shcho, GLogDB 관련 -
################################################################################	
	GamePublisher				$GAME_PUBLISHER
