INSERT INTO [atum2_db_account].[dbo].[ti_ItemInfo]
SELECT [ItemNum]
      ,[Kind]
      ,[ItemName]
      ,[AbilityMin]
      ,[AbilityMax]
      ,[ReqRace]
      ,[ReqAttackPart]
      ,[ReqDefensePart]
      ,[ReqFuelPart]
      ,[ReqSoulPart]
      ,[ReqShieldPart]
      ,[ReqDodgePart]
      ,[ReqUnitKind]
      ,[ReqMinLevel]
      ,[ReqMaxLevel]
      ,[ReqItemKind]
      ,[Weight]
      ,[HitRate]
      ,[Defense]
      ,[FractionResistance]
      ,[NaturalFaction]
      ,[SpeedPenalty]
      ,[Range]
      ,[Position]
      ,[Scarcity]
      ,[Endurance]
      ,[AbrasionRate]
      ,[Charging]
      ,[Luck]
      ,[MinTradeQuantity]
      ,[Price]
      ,[CashPrice]
      ,[DestParameter1]
      ,[ParameterValue1]
      ,[DestParameter2]
      ,[ParameterValue2]
      ,[DestParameter3]
      ,[ParameterValue3]
      ,[DestParameter4]
      ,[ParameterValue4]
      ,[DestParameter5]
      ,[ParameterValue5]
      ,[DestParameter6]
      ,[ParameterValue6]
      ,[DestParameter7]
      ,[ParameterValue7]
      ,[DestParameter8]
      ,[ParameterValue8]
      ,[ReAttacktime]
      ,[Time]
      ,[RepeatTime]
      ,[Material]
      ,[ReqMaterial]
      ,[RangeAngle]
      ,[UpgradeNum]
      ,[LinkItem]
      ,[MultiTarget]
      ,[ExplosionRange]
      ,[ReactionRange]
      ,[ShotNum]
      ,[MultiNum]
      ,[AttackTime]
      ,[ReqSP]
      ,[SummonMonster]
      ,[NextSkill]
      ,[SkillLevel]
      ,[SkillHitRate]
      ,[SkillType]
      ,[SkillTargetType]
      ,[Caliber]
      ,[OrbitType]
      ,[ItemAttribute]
      ,[BoosterAngle]
      ,[CameraPattern]
      ,[SourceIndex]
      ,[Description]
      ,[EnchantCheckDestParam]
      ,[InvokingDestParamID]
      ,[InvokingDestParamIDByUse]
	  ,case when [Disabled] = 0 then 1 else 0 end as [Enabled]
  FROM [test].[dbo].[new_ti_Item]